<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Watch 4 Events</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico'          %}"/>
    <link rel="apple-touch-icon"               href="{% static 'apple-touch-icon.png' %}">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet"                     href="{% static 'marketing.css'        %}"/>

</head>

<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Watch4Events</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/accounts/login/" class="pure-menu-link">Sign In</a></li>
            <!-- li class="pure-menu-item"><a href="/accounts/register/" class="pure-menu-link">Request Beta Invite</a></li -->
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">The Ideal Solution For Monitoring Scheduled Tasks</h1>
        <p class="splash-subhead">
        Automates the monitoring of scheduled tasks so you don't need to. Never worry again that a backup or other maintenance process failed to run without you knowing.</p>
        <p class="splash-subhead">Sign up and Start Monitoring in 2 minutes! It's Free!</p>
        <a href="/accounts/beta/" class="pure-button pure-button-primary">Request Beta Invite</a>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Why Watch For Events</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Make Sure It Ran
                </h3>
                <p>Monitor scheduled tasks to make sure they ran.</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-life-ring"></i>
                    Report Errors
                </h3>
                <p>If a task does not run, you're notified via SMS or email.</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-archive"></i>
                    Set And Forget
                </h3>
                <p>Once it is set up no maintenance is required.</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-times"></i>
                    No Spam
                </h3>
                <p>Notifications are sent only when something goes wrong.</p>
            </div> <!-- l-box -->
        </div> <!-- pure-g -->
    <p>
    Scheduled tasks are often spread across multiple machines which makes it difficult to monitor the status of the task processes. For example, one machine backs up the database, while another machine sends out scheduled emails, etc. With multiple scheduled tasks, manually monitoring the status of the scheduled tasks becomes overwhelming and makes it difficult to notice if one of the many tasks has stopped completely.</p>

    <p> 
    Sending a notification each time a task runs doesn't provide a proper solution for monitoring the health of an entire group of tasks. In regards to monitoring tasks, we mostly care about what did not happen, instead of what did happen. This led us to create Watch4Events, the service that tells us what did not happen.</p>
    </div> <!-- content -->

    <div class="content">
        <h2 class="content-head is-center">How it Works</h2>
        <p>
        Watch4.events is based on tracking scheduled tasks. You can create a 'monitor' for each task that you want monitored. The 'monitor' consists of a name and a frequency that a task should occurs. Watch4.events then produces a URL which allow a task to check-in with the 'monitor'.  You then make sure the task performs a get on that URL whenever it runs. If a task does not check-in on time you will receive an SMS with the task name.</p>

        <p>At any time you can look at the check-in history of any of your tasks.</p>
    </div>
    </div> <!-- content-wrapper -->

</body>
</html>
