<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Watch 4 Events</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/marketing.css">
</head>

<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Watch4Events</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/accounts/login/" class="pure-menu-link">Sign In</a></li>
            <li class="pure-menu-item"><a href="/accounts/register/" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">The Ideal Solution For Monitoring Scheduled Tasks</h1>
        <p class="splash-subhead">
        Are you sure all your scheduled backup and maintenance processes are running when they are scheduled? Our service helps you.</p>
        <p class="splash-subhead">Sign up and Start Monitoring in 2 minutes! It's Free!</p>
        <a href="/accounts/register/" class="pure-button pure-button-primary">Get Started</a>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Why Watch For Events</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Make Sure It Ran
                </h3>
                <p>Monitor scheduled tasks to make sure they ran</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-life-ring"></i>
                    Report Errors
                </h3>
                <p>If a task does not run, you're notified via SMS or email</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-archive"></i>
                    Set And Forget
                </h3>
                <p>Once set up, there is nothing more to do</p>
            </div> <!-- l-box -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-times"></i>
                    No Spam
                </h3>
                <p>You're only notified when something goes wrong</p>
            </div> <!-- l-box -->
        </div> <!-- pure-g -->
    <p>
    As we created our server applications we found we had many scheduled maintenance tasks on different machines.  
    One machine backs up the database every day while another machine sends out scheduled emails every hour, etc.  
    As these tasks grew and spread over different servers and services we became concerned that if one of them failed we would not know.</p>

    <p> 
    We started having tasks sent notifications but that proved useless because what we cared about was what did not happen, not what did.
    This led us to create watch4.events, the service that tells us what did not happen.</p>
    </div> <!-- content -->

    <div class="content">
        <h2 class="content-head is-center">How it Works</h2>
        <p>
        Watch4.events is based on tracking scheduled tasks. You create a 'monitor' for each task you want monitored. The 'monitor' which consists of a name and a frequency that a task occurs. Watch4.events then produces a URL which allow a task to check-in with the 'monitor'.  You then make sure the task performs a get on that URL whenever it runs. If a task does not check-in on time you will receive an SMS with the task name.</p>

        <p>At any time you can look at the check-in history of any of your tasks.</p>
    </div>
    </div> <!-- content-wrapper -->

</body>
</html>
