<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Watch 4 Events</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/marketing.css">
</head>

<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Watch4Events</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/accounts/login/" class="pure-menu-link">Sign In</a></li>
            <li class="pure-menu-item"><a href="/accounts/register/" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">The Ideal Solution For Monitoring Scheduled Tasks</h1>
        <p class="splash-subhead">
        What is making sure all your scheduled backup and maintenance processes are running when they are scheduled to? Our service does that for you.
        </p>
        <p  class="splash-subhead">Sign up and Start Monitoring in 2 minutes! It's Free!</p>
            <a href="/accounts/register/" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Why Watch For Events</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Make Sure It Ran
                </h3>
                <p>
                    Monitor scheduled tasks to make sure they ran
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-life-ring"></i>
                    Report Errors
                </h3>
                <p>
                    If a task is does not run you're notified via SMS
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-archive"></i>
                    Set And Forget
                </h3>
                <p>
                    Once it is set up there is nothing more to do
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-times"></i>
                    No Spam
                </h3>
                <p>
                    You only hear from it when something goes wrong
                </p>
            </div>
        </div>
<p>
As we created our server applications we found that there were many maintenance tasks we were scheduling on different machines.  
One machine backs up the database every day while another machine sends out scheduled emails every hour, etc.  
As these tasks grew and spread over different servers and services we became concerned that if one of them stopped we would not know.
</p>

<p> 
We started sending notifications each time something ran but that proved useless because what we cared about was what did not happen, not what did.
This led us to create watch4.events, the service that tells us what did not happen.
</p>

    </div>

    <div class="content">
        <h2 class="content-head is-center">How it Works</h2>
<p>
Watch4.events is based on tracking scheduled tasks. You create a 'sentinel' for each task you want monitored. The 'sentinel' which consists of a name and a frequency that a task occurs. Watch4.events then produces a URL which allow a task to check-in with the 'sentinel'.  You then make sure the task performs a get on that URL whenever it runs. If a task does not check-in on time you will receive an SMS with the task name.
</p>

<p>
At any time you can look at the check-in history of any of your tasks.
</p>
</div>


</body>
</html>
