{% extends "base.html" %}

{% block title %}Add New Monitor{% endblock title %}

{% block header %}
<h3>Add New Monitor</h3>
<style>
aside {
  background: #1f8dd6;
  padding: 1em 1em;
  border-radius: 3px;
  color: #fff;
}
th {
  padding-right: 10px;
  text-align: left;
  font-weight: normal;
}
label.required {
    color: red;
}

.large {
    width: 70%;
}

</style>
{% endblock header %}

{% block content %}

<form class="pure-form-stacked" action="/sentinels/add/" method="POST">
    {% csrf_token %}

    {{ form }}

    <p>This will create a new Monitor with the following settings:</p>
    <ul>
    <li>Name is how this Monitor will be listed on the View Monitors page. You should make this name descriptive of the task that will be checking in such as "Production database backup" or "Send daily emails".</li>
    <li>The Frequency is how often the task runs.  If your task runs once a day this should be 24.  If it runs once a week it should be 168, etc.</li>
    <li>The URL that this task will use to checkin is</li>
    </ul>
    <aside>{{ tagURL }}</aside>
    <p>

    <input type="submit" name="submit" value="Add Monitor" />
</form>
{% endblock content %}
