{% extends "base.html" %}

{% block title %}List Monitors{% endblock title %}

{% block header %}
<h3>Current Monitors</h3>
{% endblock header %}

{% block content %}

<div class="container">
    <table class='pure-table'>
        <thead>
            <tr>
                <td>Name</td>
                <td>Tag</td>
                <td>Every n hours</td>
                <td>ID</td>
                <td># of Checkins</td>
            </tr>
        </thead>
        <tbody>
        {% for sentinel in wl %}
          <tr>
            <td><a href="/sentinels/edit/{{ sentinel.id }}/">{{ sentinel.name }}</a></td>
            <td>{{ sentinel.tag }}</td>
            <td>{{ sentinel.freq }}</td>
            <td>{{ sentinel.id }}</td>
            <td>{{ sentinel.num_ci }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}